.title-part
{
    text-align: center;
    font-size:4em;
} 

.layout
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.layout-content
{
    display:flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    width:40%;
    border: 2px solid rgb(55, 53, 53);
    background-color: rgb(55, 53, 53);
    margin:10px;
}

.details
{
   margin-left: 10px;
}

.details h1,h3
{
    margin:4px 0px 4px 0px;
}

.btn
{
    margin:10px;
    width:8%;
    padding:20px;
    text-align: center;
    border:2px solid gray;
    border-radius: 20px;
}

.button-align
{
    text-align: center;
}